<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add new restaurant</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <div *ngIf="noInput" padding>
      <p color="danger">Please fill the empty field!</p>
    </div>

    <ion-item>
      <ion-input [(ngModel)]="restaurant_name" type="text" placeholder="Nama Restaurant"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="restaurant_address" type="text" (blur)="getLocation(restaurant_address)" placeholder="Alamat"></ion-input>
    </ion-item>
    <div *ngIf="!map_status || !restaurant_address">
      Your address can't be recognized
    </div>
    <ion-item>
      <ion-input [(ngModel)]="restaurant_contact" type="number" placeholder="No kontak" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="restaurant_category" type="text" placeholder="Kategori"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="image" type="text" placeholder="Link gambar"></ion-input>
    </ion-item>
    <ion-item *ngIf="image">
      <img src="{{image}}" style="width: 100%; text-align: center;">
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="restaurant_description" placeholder="Ketik deskripsi disini" rows="17"></ion-textarea>
    </ion-item>
  </div>
  <br>
  <div text-center>
    <button ion-button (click)="kirim()" [disabled]="!restaurant_name || !restaurant_address || !restaurant_contact || !restaurant_category || !restaurant_description">Submit data</button>
  </div>
</ion-content>
