<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add new restaurant</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <div *ngIf="noInput" padding>
      <p color="danger">Please fill the empty field!</p>
    </div>

    <ion-item>
      <ion-input [(ngModel)]="restaurant_name" type="text" placeholder="Restaurant Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="restaurant_address" type="text" (blur)="getLocation(restaurant_address)" placeholder="Address"></ion-input>
    </ion-item>
    <ion-item *ngIf="!map_status || !restaurant_address">
      <p color="danger"> Your address can't be recognized</p>
  </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="restaurant_contact" type="number" placeholder="Contact Number" ></ion-input>
    </ion-item>
    <ion-item [hidden]="restaurant_contact>0" >
      <p color="danger"> Contact number cannot be negative or empty
      </p>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="restaurant_category" type="text" placeholder="Category"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button ><input type="file"
       ngFileSelect
       [options]="options"
       (onUpload)="handleUpload($event)"
       (beforeUpload)="beforeUpload($event)"></button>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="restaurant_description" placeholder="Enter description here" rows="5"></ion-textarea>
    </ion-item>
  </div>
  <br>
  <div text-center>
    <button ion-button (click)="kirim()" [disabled]="!restaurant_name || !restaurant_address || !restaurant_contact || !restaurant_category || !restaurant_description || !map_status">Submit data</button>
  </div>
</ion-content>
