<ion-header>
  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Reload...">
    </ion-refresher-content>
  </ion-refresher>
  <div text-center *ngIf="!posts">
    <ion-spinner></ion-spinner>
  </div>
  <div padding *ngFor="let post of posts">

    <img *ngIf="post.image !== null" src="http://localhost/enjoybogor-backend/restaurant_image/{{post.image}}" />
    <img *ngIf="post.image == null" src="http://localhost/enjoybogor-backend/restaurant_image/NULL.jpg" />
    <h3 primary>
      <b class="judul">{{post.restaurant_name}}</b>
    </h3>
    <p class="info">
      Location : <b>{{post.restaurant_address}}</b>
    </p>
    <ion-badge item-right secondary>
      <ion-icon name="call"></ion-icon>   {{post.restaurant_contact}}</ion-badge>
    <ion-badge item-right instagram>
         {{post.restaurant_category}}</ion-badge>
    <p class="text" [innerHTML]="post.restaurant_description">
    </p>
<hr>
<!-- bagian menu -->
<p class="judul" padding >
  Rating : {{post.restaurant_rating}} <ion-icon small name="star"></ion-icon>
</p>
<hr>
<p> Menu list: </p>
 <ion-list>
   <div *ngIf="!nodata_menu">
   <div *ngFor="let data of posts_menu" >
     <ion-card  class="head">

       <ion-card-content>
         <ion-card-header>
            <h2>{{data.food_name}}</h2>
           <img src="http://localhost/enjoybogor-backend/menu_image/{{data.image1}}"/>
           <hr>
           <img src="http://localhost/enjoybogor-backend/menu_image/{{data.image2}}"/>

           <h4><b> Food Price: Rp.{{data.price}}</b> </h4>
           <h4><b> Portion Size: {{data.portion_size}} </b> </h4>
         </ion-card-header>
           <!-- <p>
             {{data.menu_id}}
           </p> -->
           <p>
              {{data.menu_description}}
           </p>
       </ion-card-content>
 </ion-card>
 </div>
</div>
 <div *ngIf="nodata_menu">
   <h3>No menu added yet</h3>
 </div>
 </ion-list>


  <hr>
 <!-- bagian list comment -->

   </div>
 <hr>
<div>
 <p> User Comment: </p>
  <ion-list>
    <div *ngIf="!nodata_comment">
    <div *ngFor="let data of posts_comment" >
      <ion-card  class="head">

        <ion-card-content>
          <ion-card-title>
             {{data.user_name}} <div align="right">{{data.rating}} <ion-icon  name="star"></ion-icon></div>
            </ion-card-title>

            <p>
              {{data.comment}}
            </p>
        </ion-card-content>
  </ion-card>
  </div>
</div>
  <div *ngIf="nodata_comment">
    <h3>No comment yet</h3>
  </div>
  </ion-list>
</div>


    <ion-fab right bottom *ngIf="islogin()">
      <button ion-fab color="primary" (click)="presentActionSheet()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
