<ion-header>
  <ion-navbar>
    <ion-title>Baca</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Memuat ulang...">
    </ion-refresher-content>
  </ion-refresher>
  <div text-center *ngIf="!posts">
    <ion-spinner></ion-spinner>
  </div>
  <div padding *ngFor="let post of posts">

    <img *ngIf="post.foto !== null" src="http://cybex.ipb.ac.id/uploads/{{post.foto}}" />

    <h3 primary>
      <b class="judul">{{post.restaurant_name}}</b>
    </h3>
    <p class="info">
      Oleh : <b>{{restaurant_address}}</b>
    </p>
    <ion-badge item-right secondary>
      <ion-icon name="call"></ion-icon> Hubungi : {{post.restaurant_contact}}</ion-badge>
    <ion-badge item-right instagram>
      <ion-icon name="chatbubbles"></ion-icon> Kategori : {{post.restaurant_category}}</ion-badge>
    <p class="text" [innerHTML]="post.restaurant_description">
    </p>
  </div>
  <hr>

  <p class="judul" padding instagram>
    Rating :
  </p>
  <div *ngIf="islogin()">
    <ion-fab right bottom>
      <button ion-fab color="primary" (click)="tulisKomentar()"><ion-icon name="chatboxes"></ion-icon></button>
    </ion-fab>
  </div>
</ion-content>
