<ion-header>
  <ion-navbar>
    <ion-title>Detail Voucher</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Memuat ulang...">
    </ion-refresher-content>
  </ion-refresher>
  <div text-center *ngIf="!posts">
    <ion-spinner></ion-spinner>
  </div>
  <div padding *ngFor="let post of posts">

    <img src="http://localhost/enjoybogor-backend/admin/crud/vouchers/images/{{post.image}}"/>
    <h3 primary>
      <b class="judul">{{post.voucher_name}}</b>
    </h3>
    <p class="info">
      tipe : <b>{{post.voucher_type}}</b>
    </p>
    <p>
      Point Needed : {{post.points_needed}}
    </p>
    <p>
       Left : {{post.quantity}}
     </p>
    <p class="text" [innerHTML]="post.restaurant_description">
    </p>
  </div>
  <hr>
  <div *ngIf="!taken && islogin()">
<button  ion-button block outline (click)="takeVoucher()" color="primary">Take Voucher</button>
</div>


</ion-content>
