<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Artikel</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to Reload" refreshingSpinner="dots" refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher>
  <div text-center *ngIf="!posts">
    <ion-spinner></ion-spinner>
    <p>
      Memuat data...
    </p>
  </div>
  <div text-center *ngIf="httpErr">
    <button ion-button (click)="getData()">Muat Ulang</button>
  </div>
  <ion-list>
    <div *ngFor="let post of posts">

      <ion-card (click)="baca(post.voucher_id)" class="head">


        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/rundmc-live.png"/>
        <ion-card-content>
          <ion-card-title>
            {{post.name}}
            </ion-card-title>
          
        </ion-card-content>

  </ion-card>
  </div>
  </ion-list>
<!--
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Memuat data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->



</ion-content>
