<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cari</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getItems($event)" placeholder="Type Something"></ion-searchbar>

  <!-- <ion-list>
    <div *ngFor="let post of posts">
      <ion-card (click)="baca(pos.restaurant_id)" class="head">
        <ion-card-header>
          <img *ngIf="post.foto !== null" src="{{dis.image}}" />
          <b class="judul">{{post.name}}</b>

          <p class="info">
            <b>{{post.address}}</b> <span style="color:#7f8c8d">| {{post.category}}</span></p>
          <hr>
        </ion-card-header>
        <ion-card-content>
          <p class="text" [innerHTML]="dis.description"></p><br />
          <ion-badge item-right secondary>
            <ion-icon name="call"></ion-icon> {{post.contact}}</ion-badge>
          <ion-badge item-right instagram>
            <ion-icon name="star"></ion-icon> Rating : </ion-badge>
          <ion-badge item-right primary><ion-icon name="snow"></ion-icon> Padi </ion-badge>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
   -->
  <ion-list>
   <div *ngFor="let post of posts">

     <ion-card (click)="baca(post.restaurant_id)" class="head">

       <ion-card-header>
         <b class="judul">{{post.restaurant_name}}</b>
         <p class="info">Oleh: <b>{{post.restaurant_address}}</b> <span style="color:#7f8c8d">| {{post.restaurant_category}}</span></p><hr>
       </ion-card-header>
       <ion-card-content>
         <p class="text" [innerHTML]="post.isi_artikel"></p><br />
         <ion-badge item-right secondary> <ion-icon name="eye"></ion-icon>  Lihat : {{post.restaurant_contact}}</ion-badge>
       </ion-card-content>
     </ion-card>
   </div>
 </ion-list>


<!--
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Memuat data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <!-- <ion-fab right bottom>
    <button ion-fab color="primary" (click)="presentActionSheet()"><ion-icon name="add"></ion-icon></button>
  </ion-fab> -->

</ion-content>
