<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Home</ion-title> -->
    <ion-title><img src="assets/img/logo.png" width="45%"  /></ion-title>
  </ion-navbar>
</ion-header>

<ion-content >


  <ion-slides autoplay="3000" loop="true" speed="2000" >


    <ion-slide (click)="baca(dis.restaurant_id)" *ngFor="let dis of data">

      <img src="http://localhost/enjoybogor-backend/restaurant_image/{{dis.image}}" width="100%"  />

    </ion-slide>


  </ion-slides>

  <!-- <ion-list>
    <div *ngFor="let dis of data">
      <ion-card (click)="baca(dis.restaurant_id)" class="head">
        <ion-card-header>
          <img *ngIf="dis.image !== null" src="http://localhost/enjoybogor-backend/restaurant_image/{{dis.image}}" />

        </ion-card-header>

      </ion-card>
    </div>
  </ion-list> -->



  <h3 align="center">Enjoy Your Travel In Bogor </h3>
  <h4 align="center">Disover top Restaurant</h4>
  <!-- <div #map id="map"></div> -->

</ion-content>
