<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Diskusi</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  {{iseng}}

  <!-- <div id="my-div">
  <iframe src="http://cybex.ipb.ac.id/index.php/user/daftar" id="my-iframe"></iframe>
  </div> -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Memuat data...">
    </ion-refresher-content>
  </ion-refresher>
  <div text-center *ngIf="!diskusi">
    <ion-spinner></ion-spinner>
    <p>
      Memuat data...
    </p>
  </div>
  <div text-center *ngIf="httpErr">
    <button ion-button (click)="getData()">Muat Ulang</button>
  </div>

  <ion-list>
    <div *ngFor="let dis of diskusi">
      <ion-card (click)="baca(dis.id_artikel)" class="head">
        <ion-card-header>
          <img *ngIf="dis.foto !== null" src="http://cybex.ipb.ac.id/uploads/{{dis.foto}}" />
          <b class="judul">{{dis.name}}</b>
          <p class="info">Oleh: <b>{{dis.nama_user_input}}</b> <span style="color:#7f8c8d">| {{dis.tanggal}}</span></p>
          <hr>
        </ion-card-header>
        <ion-card-content>
          <p class="text" [innerHTML]="dis.description"></p><br />
          <ion-badge item-right secondary>
            <ion-icon name="eye"></ion-icon> Lihat : {{dis.total_baca}}</ion-badge>
          <ion-badge item-right instagram>
            <ion-icon name="chatbubbles"></ion-icon> Komentar : {{dis.total_komentar}}</ion-badge>
          <!-- <ion-badge item-right primary><ion-icon name="snow"></ion-icon> Padi </ion-badge> -->
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Memuat data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="presentActionSheet()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
