<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Diskusi</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to Reload" refreshingSpinner="dots" refreshingText="Loading...">
      </ion-refresher-content>
    </ion-refresher>

  <div text-center *ngIf="!diskusi">
    <ion-spinner></ion-spinner>
    <p>
      Memuat data...
    </p>
  </div>
  <div text-center *ngIf="httpErr">
    <button ion-button (click)="getData()">Muat Ulang</button>
  </div>

  <ion-list>
    <div *ngFor="let dis of diskusi">
      <ion-card (click)="baca(dis.restaurant_id)" class="head">
        <ion-card-header>
          <img *ngIf="dis.foto !== null" src="{{dis.image}}" />
          <b class="judul">{{dis.name}}</b>

          <p class="info">
            <b>{{dis.address}}</b> <span style="color:#7f8c8d">| {{dis.category}}</span></p>
          <hr>
        </ion-card-header>
        <ion-card-content>
          <p class="text" [innerHTML]="dis.description"></p><br />
          <ion-badge item-right secondary>
            <ion-icon name="call"></ion-icon> {{dis.contact}}</ion-badge>
          <ion-badge item-right instagram>
            <ion-icon name="star"></ion-icon> Rating : </ion-badge>
          <!-- <ion-badge item-right primary><ion-icon name="snow"></ion-icon> Padi </ion-badge> -->
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>



  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="presentActionSheet()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
