<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="outer-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to Reload" refreshingSpinner="dots" refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher>
  <div text-center *ngIf="!name">
    <ion-spinner></ion-spinner>
    <p>
      Loading data...
    </p>
  </div>
  <div text-center *ngIf="httpErr">
    <button ion-button (click)="getInfo()">Reload</button>
  </div>
  <div padding-top text-center *ngIf="name">
    <ion-list>
    <ion-item (click)="edit_photo()"><img src="http://localhost/enjoybogor-backend/users/crud/user/images/{{image_path}}"></ion-item>
    <ion-item (click)="edit_profile('username')">Username : {{username}}</ion-item>
    <ion-item (click)="edit_profile('name')">Name : {{name}}</ion-item>
    <ion-item (click)="edit_profile('email')">Email : {{email}}</ion-item>
    <ion-item (click)="edit_profile('contact')">Contact : {{contact}}</ion-item>
    <ion-item>Coin : {{points}}</ion-item>

  </ion-list>
      <!-- <button ion-item (click)="updatePicture()">Update Picture</button>
      <button ion-item (click)="changeUsername()">Change Username</button>
      <button ion-item (click)="changePassword()">Change Password</button> -->
      <button ion-button (click)="edit_profile('password')">Change Password</button>
      <button ion-button (click)="edit_photo()">Change Photo</button>


  </div>
</ion-content>
