<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>myvoucher</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to Reload" refreshingSpinner="dots" refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher>

  <div text-center *ngIf="!posts">
    <ion-spinner></ion-spinner>
    <p>
      Loading Data...
    </p>
  </div>
  <div text-center *ngIf="httpErr">
    <button ion-button (click)="getData()">Muat Ulang</button>
  </div>

  <ion-list>
    <div *ngIf="!nodata">
    <div *ngFor="let post of posts" >

      <ion-card (click)="redeem(post.voucher_id)" class="head">


        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/rundmc-live.png"/>
        <ion-card-content>
          <ion-card-title>
            {{post.voucher_name}}
            </ion-card-title>

        </ion-card-content>

  </ion-card>
  </div>
</div>
  <div *ngIf="nodata">
    you don't have any  voucher

  </div>
  </ion-list>


</ion-content>
